{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все Публикации</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
    <h3>Текущая дата {% current_time '%b %d %Y время %H : %M' %}</h3>
    <h3>Всего новостей: {{ page_obj.paginator.count }}</h3>

<button onclick="showCategories()">Показать категории</button>
<div id="categoriesList" style="display: none;">
    {% for category in categories %}
        <a href="{% url 'category_list' category.id %}">{{ category.name }}</a><br>
    {% endfor %}
</div>

   <hr>

   {% if posts %}
       <table>
           <tr>

               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Категория</td>

           </tr>

           {% for post in posts %}
           <tr>

               <td>{{ post.title | censor }}</td>
               <td>{{ post.post_time |date:'d M Y' }}</td>
               <td>{{ post.text |truncatechars:50 }}</td>
               <td>{% for category in post.category.all %}
                {% if category %}
    <a href="{% url 'category_list' category.id %}">{{ category.name }}</a>
                   {% endif %}
                {% endfor %}
               </td>
                   <td>
                       {% if user.is_authenticated and user|is_author %}
<!--Проверим через наш фильтер является ли человек автором-->
        {% if post.post_type == 'AR' %}
            <a href="{% url 'articles_update' pk=post.pk %}">Редактировать</a>
        {% elif post.post_type == 'NEW' %}
            <a href="{% url 'news_update' pk=post.pk %}">Редактировать</a>
        {% endif %}
                       {% endif %}
    </td>

               <td>
                       {% if user.is_authenticated and user|is_author %}
<!--Проверим через наш фильтер является ли человек автором-->
        {% if post.post_type == 'AR' %}
            <a href="{% url 'articles_delete' pk=post.pk %}">Удалить</a>
        {% elif post.post_type == 'NEW' %}
            <a href="{% url 'news_delete' pk=post.pk %}">Удалить</a>
        {% endif %}
                       {% endif %}
    </td>


</tr>
{% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


<script>
    function showCategories() {
        var categories = document.getElementById("categoriesList");
        if (categories.style.display === "none") {
            categories.style.display = "block";
        } else {
            categories.style.display = "none";
        }
    }
</script>
{% endblock content %}

